<div class="more_stories">
        <div class="more_title cont_title">Success stories</div>
        <div class="boxes">
            <div class="box" *ngFor="let ss of stories">
                <div class="box_1">
                    <a [routerLink]="[ '/stories/'+ss.id ]">
                        <img [src]="ss.image" class="box_photo">
                    </a>
                    <a class="story_date">{{ ss.date  }}</a> <br>
                    <a [routerLink]="[ 'stories/'+ss.id ]" class="box_text">{{  ss.title }}</a>
                </div>
            </div>
        </div>
</div>
<div class="offer_2">
    <div class="offer off">Have a speciall offer or want to support us?</div>
    <form>
        <input type="button" value="Countact Us" class="offer_but" (click)="openModal(template)">
    </form>
</div>

<div class="event">
    <div class="container">
        <a class="event_title" [routerLink]="[ '/event' ]">Recent events</a>
        <div class="events">
            <div class="events_1">
                <div class="event_cont">
                    <div>
                        <img src="/assets/images/Rectangle18.png" alt="" class="event_photo">
                    </div>
                    <div class="event_info">
                        <a class="event_date">August, 12</a>
                        <a  class="event_text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві
                            та
                            дизайні.</a>
                    </div>

                </div>
                <div class="event_cont">
                    <div class="event_photo">
                        <img src="/assets/images/Rectangle18(2).png" alt="">
                    </div>
                    <div class="event_info">
                        <a href="#" class="event_date">August, 12</a>
                        <a href="#" class="event_text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві
                            та
                            дизайні.</a>
                    </div>
                </div>
            </div>
            <div class="events_2">
                <div class="event_cont">
                    <div class="event_photo">
                        <img src="/assets/images/Rectangle18(1).png" alt="">
                    </div>
                    <div class="event_info">
                        <a href="#" class="event_date">August, 12</a>
                        <a href="#" class="event_text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві
                            та
                            дизайні.</a>
                    </div>
                </div>
                <div class="event_cont">
                    <div class="event_photo">
                        <img src="/assets/images/Rectangle18(3).png" alt="">
                    </div>
                    <div class="event_info">
                        <a href="#" class="event_date">August, 12</a>
                        <a href="#" class="event_text">Lorem Ipsum - це текст-"риба", що використовується в друкарстві
                            та
                            дизайні.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show_more">
        <a href="#" class="show_more_text">Show more</a>
        <a href="#">
            <img src="/assets/images/Vector5.png" alt="" class="logo333">
        </a>
    </div>
</div>
<ng-template #template>
    <div class="modal-header modal-h">
        <h4 class="modal-title pull-left">Contact us</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body modal-b">
        Our phone: 888-88-88 <br>
        Our email: fundrising@gmail.com
    </div>
</ng-template>